.logo {
  position: absolute;
  width: 17em;
  left: 4%;
  top: 0;
  overflow: hidden; 
}

.logoLink {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  color: beige;
  background-color: brown;
  transition: color 0.3s;
  z-index: 0;
}

.logo::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-25deg);
  z-index: 1;
}

.logo:hover::before {
  animation: shine .8s ease-in-out;
}

@keyframes shine {
  from {
    left: -75%;
  }
  to {
    left: 125%;
  }
}

.logoIcon {
  font-size: 3em;
}

.logoName {
  font-size: 2em;
}
